extends layout

block style
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .main
    h1
      if name
        | #{name} Contact Menu
      else
        | No User Is Loged In.
        
    div.add
      h3 Add Contact
      form(action="/",method="post",class="myform")
        input(type="text" ,name="firstname" ,class="myinput",placeholder="Enter Your Firstname")
        input(type="text" name="lastname",class="myinput",placeholder="Enter Your Lastname")
        input(type="phone" name="number",class="myinput",placeholder="Enter Your Phone No.")
        br
        button(class="btn", id="btn")
          |Submit
    
    br 
    br
    
    div.contacts
      h3 Contacts
      table
        thead
          tr
            td Firstname
            td Lastname
            td Number
        each item in contacts
          tbody
            tr
              td #{item.firstname}
              td #{item.lastname}
              td #{item.number}
    
    br
    br
    
    h3 Delete A Contact
    br
    div.checkbox
      h4   To Delete A Contact ,Simply check On Checkbox Of Contact Which You Want To Delete.
      each item in contacts
        div
          form(action="/delete", method="post")
            input(type="checkbox" ,name="checkbox" ,value ="#{item._id}" ,onChange="this.form.submit()")
            | #{item.firstname}  #{item.lastname}  #{item.number}

    br
    br

    div.delete 
      h4 Enter Number to delete a contact
      form(action="/delete2", method="post",class="myformdelete")
        input(type="phone" name="number",class="myinput",placeholder="Enter Your Phone No.")
        button(class="btn" , id="btn")
          |Delete
    br
    br
